<header class="gov-header" role="banner">
  <div class="top-bar">
    <span>Governo Federal</span>

    <nav aria-label="Acessibilidade">
      <a>Acessibilidade</a>
      <a>Alto Contraste</a>
    </nav>
  </div>

  <div class="main-bar">
    <div class="logo-area">
      <a class="gov-logo" routerLink="/"> gov.br </a>
    </div>

    <nav class="menu" aria-label="Menu principal">
      <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>

      <a routerLink="/consulta" routerLinkActive="active"> Consulta </a>
    </nav>
  </div>
</header>
