<section class="consulta-page">
  <h1>Consulta de Abastecimentos</h1>

  <!-- Breadcrumb -->
  <app-gov-breadcrumb [items]="[{ label: 'Consulta' }]"></app-gov-breadcrumb>

  <!-- CARD: FILTROS -->
  <div class="gov-card filters-card">
    <h2 class="card-title">Filtros</h2>

    <form class="filters" (ngSubmit)="applyFilter()">
      <!-- UF -->
      <div class="field">
        <label for="uf">Estado (UF)</label>
        <select id="uf" [(ngModel)]="uf" name="uf">
          <option value="">Todos</option>
          @for (u of ufs; track u) {
          <option [value]="u">{{ u }}</option>
          }
        </select>
      </div>

      <!-- Combustível -->
      <div class="field">
        <label for="fuel">Combustível</label>
        <select id="fuel" [(ngModel)]="fuelType" name="fuelType">
          <option value="">Todos</option>
          @for (f of fuelTypes; track f) {
          <option [value]="f">{{ f }}</option>
          }
        </select>
      </div>

      <!-- Botão -->
      <div class="field actions">
        <button type="submit" class="gov-button-primary">Aplicar filtros</button>
      </div>
    </form>
  </div>

  <!-- CARD: RESULTADOS -->
  <div class="gov-card results-card">
  <h2 class="card-title">Resultados</h2>

  <table class="gov-table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Posto</th>
        <th>Cidade/UF</th>
        <th>Combustível</th>
        <th class="numeric">Valor/L</th>
        <th class="numeric">Total</th>
      </tr>
    </thead>

    <tbody>
      @for (r of pagedRecords$ | async; track r.id) {
        <tr class="clickable-row" [routerLink]="['/detalhe', r.id]">
          <td>{{ r.date }}</td>
          <td>{{ r.station }}</td>
          <td>{{ r.city }}/{{ r.uf }}</td>
          <td>{{ r.fuelType }}</td>
          <td class="numeric">
            R$ {{ r.pricePerLiter | number:'1.2-2' }}
          </td>
          <td class="numeric">
            R$ {{ r.total | number:'1.2-2' }}
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
  <button
    type="button"
    (click)="prevPage()"
    [disabled]="!(canGoPrev$ | async)"
  >
    Anterior
  </button>

  <span>
    Página {{ currentPage$ | async }} de {{ totalPages$ | async }}
  </span>

  <button
    type="button"
    (click)="nextPage()"
    [disabled]="!(canGoNext$ | async)"
  >
    Próximo
  </button>
</div>

</div>

</section>
